
@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gerar Troco</title>
</head>
<body style="margin-top: 100px">

    @using (Html.BeginForm("calcularTroco", "MaquinaDeTroco", FormMethod.Post, new
    {
        id = "formularioTroco"
    }))
    {
        <input type="number" id="recebido" name="recebido" value="ValorPago" placeholder="Valor Pago" />
        <input type="number" id="produtos" name="produtos" value="valorTotal" placeholder="Preço Produto" />
        <button type="submit" id="gerarTroco">Gerar Troco</button>
    }


    @*<input type="number" id="recebido" name="recebido" value="ValorPago" placeholder="Valor Pago" />
    <input type="number" id="produtos" name="produtos" value="valorTotal" placeholder="Preço Produto" />
    <button type="submit" id="gerarTroco">Gerar Troco</button>*@


    <div class="modal fade" id="modalCarregar" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <img style="width: 100px; height: 100px" src="../Content/Imgs/tenor.gif" />
                <h1>Carregando...</h1>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalCarregado" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <img style="width: 100px; height: 100px" src="../Content/Imgs/tenor.gif" />
                <h1>Deu certo!</h1>
            </div>
        </div>
    </div>




    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")



    <script type="text/javascript">

        $('#formularioTroco').on('submit', function (e) {
            e.preventDefault();
            $('#modalCarregar').modal('show');

            $.ajax({
                url: "/MaquinaDeTroco/calcularTroco",
                data: $(this).serialize(),
                dataType: "json",
                method: "POST",
                cache: false,
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                sucess: function (resp) {
                    console.log("Deu certo!");
                    $('#modalCarregar').modal('hide');
                    $('#modalCarregado').modal('show');
                },
                error: function (erro) {
                    console.log("Deu errado :(")
                    $('#modalCarregar').modal('hide');
                }
            });

        });








    </script>
</body>
</html>
