body {

    margin: 0;
    box-sizing: border-box;

}

img{
    transform:translateX(-8px);
}


#inputs{
    margin-top: 300px;
    width: 100%;
}

.inp {
 
    outline: none;
    text-align: center;
    text-space-collapse:collapse;
    
}

#recebido {
    height: 40px;
    border: 1px solid black;
}
#produtos{
    height:40px;
    border:1px solid black;
}

#gerarTroco{
    height:40px;
    border:none;
    background-color:black;
    color:white;
    
}


.card{
    padding: 0 !important;
    /*width: 20%;
    margin-right: 2%;*/
    border: none;
}

.card-img-top{ 
    width: 80px;
    margin: 20px auto 20px auto;
    
    
}

.card-body{
    padding: 0;
    width: 100%;
}


#botao{
    margin-top: 20px;
    background-color: black;
    color:white;
    height:30px;
    width:100%;

    border: none;
}

#botao-sangria {
    margin-top: 20px;
    background-color: black;
    color: white;
    height: 30px;
    width: 100%;
    border: none;
}

#container-abastecer{
    margin-top: 80px;
}

#menu{
    background-color: black;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: black;
}

.navbar-brand:hover{
    background-color:white;
    color: black;
}

#modalCarregar {
    text-align: center;
    
    background-color: rgba(0, 0, 0, 0.5);
}

#modalCarregar .modal-content {
    background: none;
    border: none;
}

#modalCarregar h1 {
    color: white;
}

#modalCarregar .modal-content img{
    height: 80px;
    width: 80px;
}
#modalCarregar .modal-content h1{
    color: white;
}

#modalCarregado {
    position:center;
    text-align: center;
    
    background-color: rgba(0, 0, 0, 0.5);
}
#modalCarregado .modal-content{
    background: none;
    border: none;
}
#modalCarregado .modal-content img {
    height:80px;
    width: 90px;
}
#modalCarregado .modal-content h1{
    color: white;
}

.modal-dialog{
    margin-top: 100px;
}
#imagem-troco{
    width: 80px;
    height: 80px;
}